<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

    </style>
</head>
<!DOCTYPE html>

<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/form.html">Form</a></li>
    <li><a href="/allegiancedashboard">Allegiance Dashboard</a></li>
    <li><a href="/isloopgood">Is Loop at it</a></li>

</ul>
<br>
{% if message %}
    <p>Note: {{ message }}</p>
{% endif %}
{% block content %}
{% endblock %}
<h5 style="text-align: center">Powered by pure magic.</h5>
<h6 style="text-align: center">Still more reliable than Loop TM</h6>
</body>
</html>